---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer&assertion=eyNNra
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"ya29.c.KpNNNRwQ","expires_in":3599,"token_type":"Bearer"}'
  recorded_at: Thu, 05 Nov 2020 20:42:12 GMT
- request:
    method: post
    uri: https://fcm.googleapis.com/v1/projects/shg-comet/messages:send
    body:
      encoding: UTF-8
      string: '{"message":{"notification":{},"token":"ezvwEVC9gO0:APA91bF_8SEkPYHY1fy0Ul-e61bWjrkp9KxnRSTiUJJBGp4Owwm67ryqBffXmqounNCNE3QlH0Y0PMuXcjY6eu0Cdu7RvnRFQzJdxGjUTx1UUGYEmIMdPEN5irn2L9LpFCXSiY509ynv"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer ya29.c.KpNNNRwQ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "name": "projects/shg-comet/messages/0:1604608932414841%d174a76ef9fd7ecd"
        }
  recorded_at: Thu, 05 Nov 2020 20:42:12 GMT
recorded_with: VCR 6.0.0
